VITE_WHATSAPP_URL=https://chat.whatsapp.com/GR9CIZMjdF10M2XCdPTN58
VITE_TELEGRAM_URL=https://t.me/+71T8PTSNphc3M2Ix
VITE_AWIN_PUBLISHER_ID=3052029
VITE_AWIN_REGISTRATION=AW-3052029
VITE_MERCADO_LIVRE_AFFILIATE_URL=https://www.mercadolivre.com.br/social/elwi4875632
